/* Header Slider */

.control-vagas {
  height: 100%;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  margin-top: 65px;
}

.icon-next-vagas {
  cursor: pointer;
}

.icon-prev-vagas {
  cursor: pointer;
}

.icon-next-vagas img {
  cursor: pointer;
}

.icon-prev-vagas img {
  cursor: pointer;
}