@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.otf") format("opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.otf") format("opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.otf") format("opentype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
.header-menu {
  float: right;
  padding: 1rem 0rem 0rem 0rem; }

.drop-mobile-menu {
  display: none; }

.mobile {
  display: none; }

/*DATE PICKER SLIDER*/
.dtp {
  z-index: 10000; }

.calendar-show .dtp {
  z-index: 99999999999;
  position: static;
  background: none; }
  .calendar-show .dtp .dtp-content .dtp-date-view header.dtp-header {
    background: #8fc00f; }
  .calendar-show .dtp .dtp-content .dtp-date-view div.dtp-date, .calendar-show .dtp .dtp-content .dtp-date-view div.dtp-time {
    background: #606060; }
  .calendar-show .dtp .dtp-content .dtp-date-view .p10 > a {
    color: #fff; }
  .calendar-show .dtp div.dtp-picker-month {
    display: none; }
  .calendar-show .dtp table.dtp-picker-days tr > th {
    color: #8fc00f;
    font-size: 2.4rem;
    font-weight: 100;
    border: none; }
  .calendar-show .dtp table.dtp-picker-days tr > td > span.dtp-select-day {
    font-size: 1.4rem;
    color: #606060; }
  .calendar-show .dtp table.dtp-picker-days tr > td > a, .calendar-show .dtp .dtp-picker-time > a {
    font-size: 1.2rem;
    color: #8fc00f; }
    .calendar-show .dtp table.dtp-picker-days tr > td > a.selected, .calendar-show .dtp .dtp-picker-time > a.selected {
      color: #fff; }
  .calendar-show .dtp .dtp-buttons {
    display: none; }
  .calendar-show .dtp .dtp-content {
    margin-left: 0 !important;
    position: static;
    max-width: none; }
  .calendar-show .dtp div.dtp-actual-num {
    line-height: initial; }
  .calendar-show .dtp .dtp-actual-day {
    font-size: 1.2rem; }

.calendar-show {
  position: absolute;
  z-index: 9999 !important;
  margin-top: 5px;
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  top: 100%; }
  .calendar-show.active {
    visibility: visible;
    display: block;
    height: auto;
    opacity: 1; }
  .calendar-show:before, .calendar-show :after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .calendar-show:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #8fc00f;
    border-width: 10px;
    margin-left: -10px; }

/*TOP NAVIGATION*/
.navbar-top.navbar-inverse {
  background-image: none;
  background-color: #4d4d4d !important;
  height: 6rem;
  border: 0;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-top .logo {
  display: table-cell;
  vertical-align: middle;
  height: 6rem; }
  @media (max-width: 768px) {
    .navbar-top .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center; } }

.navbar-top .navbar-collapse, .navbar-top .navbar-collapse ul {
  padding: 0;
  width: 100%;
  text-align: right; }

.navbar-top .navbar-collapse ul.nav > li {
  width: auto;
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }
  .navbar-top .navbar-collapse ul.nav > li a span {
    display: block; }
  @media (max-width: 992px) {
    .navbar-top .navbar-collapse ul.nav > li {
      width: 90px; } }

.navbar-top .menu-icon {
  height: 80px;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 15px;
  padding-top: 35px;
  text-align: center;
  vertical-align: middle;
  display: table-cell; }

.navbar-top.navbar-inverse .navbar-nav > li {
  vertical-align: top;
  padding: 0rem 2rem; }

.navbar-top.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  padding: 0rem 0rem 0rem;
  display: block;
  height: auto; }
  .navbar-top.navbar-inverse .navbar-nav > li > a br {
    display: none; }

.navbar-top.navbar-inverse .navbar-nav > .active > a,
.navbar-top.navbar-inverse .navbar-nav > .open > a,
.navbar-top li.active > a,
.navbar-top li > a:hover,
.navbar-top li > a:focus {
  color: #8fc00f !important;
  background: none;
  box-shadow: none; }

.navbar-top li .menu-icon:before {
  content: '';
  position: static;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 423px;
  background-position-y: -281px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem; }
.navbar-top li .menu-icon.bussiness-icon:before {
  background-position-x: -307px; }
.navbar-top li .menu-icon.personal-icon {
  color: red; }
  .navbar-top li .menu-icon.personal-icon:before {
    width: 21px;
    background: url("../../images/personaltravel_white.png") 0px 0px no-repeat !important;
    background-size: 100% !important; }
  .navbar-top li .menu-icon.personal-icon:hover:before {
    background: url("../../images/personaltravel_green.png") 0px 0px no-repeat !important;
    background-size: 100% !important; }
.navbar-top li.active .menu-icon.personal-icon:before {
  background: url("../../images/personaltravel_green.png") 0px 0px no-repeat !important;
  background-size: 100% !important; }

.navbar-top li.active > a:before,
.navbar-top li > a:hover:before,
.navbar-top li > a:focus:before {
  background-position-y: -141.62px; }

.navbar-top li ul {
  list-style: none;
  background-color: #8fc00f;
  min-width: 186px;
  position: absolute;
  padding: 10px 15px;
  display: none; }

.navbar-top li:hover ul {
  display: block; }

.navbar-top li ul li {
  padding: 10px 0; }

.navbar-top li ul li a {
  color: #ffffff; }

.navbar-top li ul li a:hover {
  color: #4d4d4d !important;
  text-decoration: none; }

.navbar-top li.menu-search ul {
  display: none;
  min-height: 60px; }

.navbar-top li.menu-search ul, .navbar-top li.menu-search ul li {
  margin: 0;
  padding: 0;
  background: none; }

.navbar-top li.menu-search:hover ul, .navbar-top li.menu-search ul:hover {
  display: block; }

.search-input {
  position: absolute;
  right: 87px;
  padding: 0 15px;
  top: 10px;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #8fc00f;
  width: 390px; }

.navbar-top .home-icon:before {
  background-position-x: -103px; }

.navbar-top .business-icon:before {
  background-position-x: -307px; }

.navbar-top .industry-icon:before {
  background-position-x: 0; }

.navbar-top .team-icon:before {
  background-position-x: -372px; }

.navbar-top li.active > a.personal-icon:before,
.navbar-top li > a.personal-icon:hover:before,
.navbar-top li > a.personal-icon:focus:before {
  background-position-y: -209px !important; }

.navbar-top .about-icon:before {
  background-position-x: -254px; }

.navbar-top .contact-icon:before {
  background-position-x: -204px; }

.navbar-top .menu-search {
  float: right; }

.navbar-top .menu-search .search-icon {
  background-color: #4d4d4d !important;
  border: 0;
  width: 102px;
  padding-top: 20px; }

.navbar-top .menu-search .search-icon:hover {
  background-color: #8fc00f !important; }

.navbar-top .search-icon:before {
  left: 35%;
  background-position-x: -51px; }

.content-home {
  float: left;
  width: 100%;
  clear: both; }

/*BLOCK SEARCH*/
.block-search {
  background: none !important;
  border: 0 !important;
  width: 100%;
  float: left;
  padding: 0rem; }

#tabs-review {
  padding: 3.375rem 0rem 1.875rem 0rem; }
  #tabs-review .list-circle .item p {
    color: #ffffff;
    font-size: 1.2rem; }
  #tabs-review .right-tab-contact .item {
    margin-bottom: 2rem; }
    #tabs-review .right-tab-contact .item p, #tabs-review .right-tab-contact .item a {
      font-size: 1.2rem;
      color: #ffffff; }
    #tabs-review .right-tab-contact .item .mail-to-text {
      color: #8fc00f; }
    #tabs-review .right-tab-contact .item a {
      position: relative;
      pointer-events: none; }
      #tabs-review .right-tab-contact .item a:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        background: #fff; }
      #tabs-review .right-tab-contact .item a:hover {
        text-decoration: none; }

.control-vagas .icon-next-vagas, .control-vagas .icon-prev-vagas {
  cursor: pointer;
  color: red; }

.block-search .tabs-container, .block-search .tabs-menu-container {
  width: 100%;
  float: left;
  padding: 0rem 0rem; }

.block-search .tabs-menu-container ul, .block-search .tabs-menu-container li {
  margin: 0 !important;
  padding: 0 !important;
  float: left;
  list-style: none;
  background: none;
  color: #ffffff;
  border: 0 !important;
  outline: none; }

.block-search .tabs-menu-container li {
  margin-right: 1.5px !important;
  background-color: #4d4d4d;
  border-radius: 4px !important;
  min-width: 198.75px;
  text-transform: uppercase;
  text-align: center;
  white-space: normal !important; }

.block-search .tabs-menu-container li:last-child {
  margin-right: 0 !important; }

.block-search .tabs-menu-container li a {
  width: 100%;
  float: left;
  color: #ffffff;
  outline: none;
  border: 0 !important;
  padding: 1.125rem 0rem !important;
  border-radius: 4px !important; }

.block-search .tabs-menu-container li.active, .block-search .tabs-menu-container li:hover {
  background-color: #8fc00f;
  position: relative;
  border: 0; }
  .block-search .tabs-menu-container li.active a, .block-search .tabs-menu-container li:hover a {
    text-decoration: none; }

.block-search .tabs-menu-container li.active:after, .block-search .tabs-menu-container li:hover:after {
  content: '';
  position: absolute;
  left: 47%;
  top: 99%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #8fc00f;
  clear: both; }

.block-search .tabs-container {
  padding: 0 0rem 0rem 0rem; }
  .block-search .tabs-container > .container {
    position: relative; }
    .block-search .tabs-container > .container:before {
      background: red;
      border-radius: 4px;
      content: '';
      width: calc(100% + 0rem);
      height: 100%;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      background-color: #606060;
      position: absolute;
      z-index: -1; }
  .block-search .tabs-container .tab-item {
    display: none;
    float: left;
    width: 100%; }
    .block-search .tabs-container .tab-item.active {
      display: block; }

.search-form {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto; }

.search-form-title {
  color: #ffffff;
  height: 130px;
  overflow: hidden;
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

.latest-news {
  margin-top: 15px; }

.view-more-date-container {
  margin-top: 12px;
  float: left;
  width: 100%; }

.view-more-date-container a.view-more {
  padding: 6px 5px;
  background-color: #8fc00f;
  color: #ffffff;
  border-radius: 7px;
  float: left;
  text-decoration: none; }

.view-more-date-container .date {
  text-transform: uppercase;
  float: right;
  padding: 6px 10px;
  color: #ffffff;
  margin: 0; }

.news-item-content {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #ababab;
  float: left;
  color: #ababab;
  width: 100%; }

.news-item-content h4, .news-item-content h4 a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px; }

.latest-news-pagination {
  margin-top: 50px;
  border-top: 1px solid #ababab;
  padding: 35px 0 15px;
  text-align: center; }

.latest-news-pagination a {
  margin-right: 25px;
  color: #ffffff;
  text-decoration: none; }

.latest-news-pagination a.active-item, .latest-news-pagination a:hover {
  color: #8fc00f; }

.latest-news-pagination .next-item {
  margin-left: 75px; }

.latest-news-pagination .previous-item {
  margin-right: 100px; }

.latest-news-pagination .next-item span,
.latest-news-pagination .previous-item span {
  display: none; }

.latest-news-pagination .next-item,
.latest-news-pagination .previous-item {
  color: #8fc00f;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: auto;
  padding: 10px;
  top: 5px; }

.latest-news-pagination .next-item:before,
.latest-news-pagination .next-item:after,
.latest-news-pagination .previous-item:before,
.latest-news-pagination .previous-item:after {
  background: #8fc00f;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px; }

.latest-news-pagination .previous-item:before,
.latest-news-pagination .previous-item:after {
  left: 0; }

.latest-news-pagination .next-item:before,
.latest-news-pagination .previous-item:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.latest-news-pagination .next-item:after,
.latest-news-pagination .previous-item:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.latest-news-pagination .previous-item:after,
.latest-news-pagination .next-item:before {
  margin-top: -5px; }

.search-form-title h2 span {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 14px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: -89px -494px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.search-form-title p {
  margin-bottom: 0;
  text-indent: 49px; }

.search-form-inputs {
  border-radius: 4px;
  border-top: 3px solid #8fc00f;
  background-color: #ebedea;
  padding: 2rem 2rem;
  float: left;
  width: 100%; }

.search-form-inputs h2 {
  font-size: 2.4rem;
  padding: 0;
  margin: 0rem 0rem 2rem 0rem;
  color: #4d4d4d; }

.search-form-inputs input {
  height: 100%;
  border: 1px solid #696969;
  border-radius: 4px; }

.search-form-inputs .input-date {
  width: 100%;
  float: left;
  font-weight: bold;
  color: #8fc00f !important;
  position: relative;
  font-size: 0px;
  height: 4rem;
  margin-bottom: 1rem; }
.search-form-inputs .input-search {
  margin-bottom: 1rem;
  height: 4rem; }

.search-form-inputs .input-date .glyphicon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../../images/icon-calendar.png") no-repeat center;
  background-size: contain;
  z-index: 9; }
  .search-form-inputs .input-date .glyphicon:before {
    display: none; }
.search-form-inputs .input-date .text-after-change {
  color: #8fc00f;
  position: absolute;
  top: 0.3rem;
  left: 5rem;
  z-index: 9;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0; }
  .search-form-inputs .input-date .text-after-change.active {
    opacity: 1; }

.search-form-inputs .input-date input {
  padding: 0rem;
  padding-top: 0.7rem;
  padding-left: 5rem;
  font-weight: normal;
  font-family: "HelveticaNeue";
  font-size: 1.2rem;
  position: relative;
  z-index: 2;
  /**/
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0rem;
  top: 0rem; }

.search-form-inputs .input-date:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #8fc00f;
  clear: both;
  z-index: 9; }

.input-date input::-webkit-input-placeholder {
  color: #8fc00f !important; }

.input-date input::-moz-placeholder {
  color: #8fc00f !important; }

.input-date input:-ms-input-placeholder {
  color: #8fc00f !important; }

.input-date input:-moz-placeholder {
  color: #8fc00f !important; }

.search-form-inputs input.checkin-date {
  margin-right: 2%; }

.search-form-buttons {
  float: left;
  width: 100%;
  border-radius: 4px;
  padding: 2rem 0rem 1rem 0rem;
  text-align: center; }

.search-form-buttons button {
  background-color: #8fc00f;
  max-width: 25.5rem;
  width: 100%;
  text-align: center;
  /* height: 64px; */
  text-transform: uppercase;
  color: #ffffff;
  font-family: "HelveticaNeueBold";
  border: 0;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.75rem 0.75rem; }
  .search-form-buttons button:hover, .search-form-buttons button:focus, .search-form-buttons button:active {
    border: none !important;
    outline: none; }

.search-form-buttons button:hover {
  background-color: #ffffff;
  color: #8fc00f; }

.caption-bot {
  float: left;
  width: 100%; }
  .caption-bot p {
    max-width: 60rem;
    width: 100%;
    margin: 0rem auto;
    font-family: "HelveticaNeueLight";
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center; }

#tabs-search-location {
  padding: 3rem 0rem 2rem 0rem; }

/*GUIDE ITEM*/
/*PARTNER ITEM*/
.block-partner {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #fff;
  padding: 1.875rem 1.125rem;
  font-size: 0rem;
  text-align: center;
  float: left;
  width: 100%; }

.partner-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0rem 1.5rem;
  cursor: pointer;
  border: solid 1px rgba(171, 171, 171, 0.3); }

.pos-relative {
  position: relative; }

/*BOTTOM NAVIGATION*/
.navbar-bottom {
  background-color: #8fc00f;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 31px;
  min-height: 31px;
  text-align: center; }

.navbar-bottom .container {
  overflow: hidden; }

.navbar-bottom-container {
  float: left;
  position: relative;
  left: 50%; }

.navbar-bottom-container .navbar-nav {
  float: left;
  position: relative;
  left: -50%; }

.navbar-bottom a {
  color: #ffffff; }

.navbar-nav li.active > a,
.navbar-nav li > a:hover,
.navbar-nav li > a:focus {
  background: none !important; }

.nav-bottom-link {
  background: #8fc00f;
  float: left;
  width: 100%; }
  .nav-bottom-link .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0rem 0rem; }
    .nav-bottom-link .navbar-nav li {
      float: none;
      display: inline-block;
      vertical-align: middle;
      padding: 0rem 1.65rem; }
      .nav-bottom-link .navbar-nav li a {
        font-size: 1.2rem;
        color: #ffffff;
        text-shadow: none;
        padding: 0.75rem 0rem;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear; }
        .nav-bottom-link .navbar-nav li a.active {
          color: #434343; }
        .nav-bottom-link .navbar-nav li a:hover {
          color: #434343; }

/*FOOTER*/
footer {
  background-color: #434343;
  padding-bottom: 30px; }

.footer-logo {
  margin-top: 38px;
  margin-bottom: 10px;
  text-align: center; }

.footer-about, .footer-copyright {
  color: #ababab; }

.footer-copyright a {
  color: #8fc00f; }

.footer-phone {
  color: #ffffff;
  font-size: 28px; }

.footer-about p {
  margin-bottom: 18px; }

footer h4 {
  text-transform: uppercase;
  color: #8fc00f;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px; }

footer li {
  float: left;
  clear: both;
  margin-bottom: 10px; }

footer li a {
  color: #ababab;
  padding: 0 !important; }

footer ul.nav.navbar-nav li.active > a,
footer ul.nav.navbar-nav li > a:hover,
footer ul.nav.navbar-nav li > a:focus {
  background: none; }

/*GROUPS*/
.bg-white {
  background: #fff; }

.title-group h4 {
  font-size: 3.6rem;
  margin: 0rem; }
  @media (min-width: 768px) {
    .title-group h4 {
      font-size: 3.6rem; } }

.title-group p a {
  color: #8fc00f; }

.footer {
  float: left;
  width: 100%;
  padding: 1.25rem 0rem;
  background: #434343; }
  .footer .logo-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .footer .text-cpr {
    color: #fff;
    text-align: right; }

@media (max-width: 768px) {
  .banner-slideshow__up {
    margin-bottom: -20rem !important; } }
/*slider*/
.banner-slideshow {
  height: 32rem !important;
  width: 100%;
  float: left;
  margin-bottom: -30rem; }
  .banner-slideshow.banner-slideshow-homepage:before {
    content: none; }
  .banner-slideshow.banner-slideshow-homepage .vegas-slide-custom-text:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .banner-slideshow.banner-slideshow-homepage .vegas-slide-custom-text .text-add-custom {
    position: relative;
    z-index: 2; }
  .banner-slideshow:before {
    content: ' ';
    position: absolute;
    display: block;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .banner-slideshow.banner-slideshow__up {
    margin-bottom: -40rem; }
  @media (min-width: 768px) {
    .banner-slideshow {
      height: 42.15rem !important; } }
  .banner-slideshow .vegas-slide-custom-text {
    width: 100%;
    height: 100%;
    position: relative;
    display: table; }
    .banner-slideshow .vegas-slide-custom-text .text-add-custom {
      text-align: center;
      color: #ffffff;
      width: 100%;
      display: table-cell;
      vertical-align: top;
      font-size: 3.8rem;
      padding-top: 4.5rem; }

/*RESPONSIVE*/
@media (max-width: 1200px) {
  .block-welcome {
    height: 295px; } }
.header-selector {
  display: none !important;
  width: 300px !important; }

@media (max-width: 768px) {
  .header-selector {
    display: block !important; }

  .logo-mobile {
    text-align: center; }

  .container {
    padding-right: 9px;
    padding-left: 9px;
    margin-right: auto;
    margin-left: auto; }

  .navbar-top .container {
    position: relative; }

  .navbar-top .navbar-absolute {
    /* display: flex;
     justify-content: center;
     z-index: 2147483647;*/ }

  .navbar-top li ul {
    position: relative; }

  .navbar-top li ul li {
    padding: 0; }

  .navbar-top #navbar, .navbar-top #navbar ul, .navbar-top #navbar li, .navbar-top #navbar li a, .navbar-top .menu-search .search-icon {
    width: 100%; }

  .navbar-top #navbar ul {
    margin: 0; }

  .navbar-top #navbar {
    background-color: #4d4d4d;
    border: 0; }

  .navbar-top .navbar-collapse {
    padding: 0 15px 15px; }

  .navbar-top #navbar li a {
    height: 40px;
    padding: 10px 35px;
    line-height: 20px;
    display: block;
    text-align: left; }

  .navbar-top .menu-icon:before {
    top: 10px;
    left: 5px;
    background-size: 423px;
    background-position-y: -281px; }

  .navbar-top .menu-search .search-icon {
    height: 40px;
    padding: 10px 35px;
    line-height: 20px;
    text-align: left; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .block-welcome {
    height: 120px; }

  .block-welcome h1, .block-welcome p {
    margin-left: 25px;
    color: #ffffff; }

  .block-welcome h1, .search-form-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 18px; }

  .block-search .tabs-menu-container ul {
    width: 100%; }

  .block-search .tabs-menu-container li {
    margin-right: 0.5% !important;
    width: 33% !important;
    min-width: 0;
    padding: 1rem 1rem !important; }

  .block-search .tabs-menu-container li.ui-tabs-active:after, .block-search .tabs-menu-container li:hover:after {
    left: 40%; }

  .search-form-title {
    height: 100px; }

  .search-form-title p {
    text-indent: 0; }

  .search-input {
    width: 100%;
    right: 0; }

  .search-form-inputs {
    height: auto;
    padding: 16px 12px; }

  .search-form-inputs h2 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1.3em; }

  .search-form-inputs .input-date input {
    font-size: 14px; }

  .search-form-inputs .input-date:after {
    right: 20px; }

  .search-form-inputs .input-date .glyphicon {
    left: 20px; }

  .search-form-buttons {
    margin-top: 10px; }

  #tabs-latest-news, #tabs-review {
    margin: 0; }

  .latest-news-pagination a {
    margin-right: 12px; }

  .latest-news-pagination .previous-item {
    margin-right: 12px; }

  .latest-news-pagination .next-item {
    margin-left: 0; } }
@media (max-width: 991px) {
  .navbar-top.navbar-inverse .navbar-nav > li {
    padding: 0rem 1rem; } }
@media (min-width: 768px) and (max-width: 1082px) {
  .banner-slideshow .vegas-slide-custom-text .text-add-custom {
    font-size: 3.5rem; } }
@media (max-width: 767px) {
  .mobile {
    display: block; }

  .title-group h4 {
    font-size: 3rem; }

  .navbar-top .logo {
    justify-content: center; }

  .navbar-top.navbar-inverse {
    height: auto; }

  .drop-mobile-menu {
    display: block;
    margin-bottom: 0px;
    background: #ffffff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0rem; }
    .drop-mobile-menu a {
      color: #4d4d4d;
      font-size: 1.4rem; }
    .drop-mobile-menu .glyphicon {
      line-height: 1.5; }

  .banner-slideshow {
    margin-bottom: -20rem;
    height: 320px !important; }

  .navbar-top .menu-icon:before {
    display: none !important; }

  .header-menu {
    background: none;
    float: none;
    margin: 0rem 0rem 1.2rem 0rem;
    height: 0px;
    padding: 0rem 0rem 0rem 0rem;
    opacity: 0; }
    .header-menu.open {
      height: auto;
      padding: 0rem 0rem;
      opacity: 1; }
    .header-menu li {
      width: 100%; }
      .header-menu li a {
        color: #4d4d4d !important;
        font-size: 1.4rem; }

  .navbar-top.navbar-inverse .navbar-nav > li {
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 0rem;
    -webkit-box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
    background: #fff; }
    .navbar-top.navbar-inverse .navbar-nav > li.business-menu-mobile {
      padding: 1.5rem 1.7rem; }
    .navbar-top.navbar-inverse .navbar-nav > li.personal-menu-mobile {
      padding: 1.5rem 1.4rem; }
    .navbar-top.navbar-inverse .navbar-nav > li a {
      display: block;
      width: 100%;
      text-align: left; }
      .navbar-top.navbar-inverse .navbar-nav > li a.menu-icon.personal-icon {
        color: red;
        margin-left: 0rem; }
      .navbar-top.navbar-inverse .navbar-nav > li a br {
        display: none; }

  .block-search .tabs-menu-container li a {
    padding: 1rem 1rem; }

  .calendar-show .dtp {
    width: 250px; }
    .calendar-show .dtp table.dtp-picker-days tr > td {
      padding: 0.5rem 0rem; }

  /*banner*/
  .banner-slideshow .vegas-slide-custom-text .text-add-custom {
    padding-top: 2.5rem;
    font-size: 3rem; }

  .search-form-buttons button {
    max-width: none; }

  .footer {
    padding: 3rem 0rem; }

  .nav-bottom-link {
    display: none; } }
@media (max-width: 520px) {
  .nav-bottom-link .navbar-nav {
    font-size: 0rem; }
    .nav-bottom-link .navbar-nav li {
      width: 20%;
      vertical-align: middle; }
      .nav-bottom-link .navbar-nav li a {
        line-height: 1.3em;
        padding: 1rem 0rem;
        font-size: 1rem; }

  .banner-slideshow .vegas-slide-custom-text .text-add-custom {
    vertical-align: top;
    padding-top: 2rem; } }
@media (max-width: 480px) {
  .block-search .tabs-menu-container li {
    width: 45% !important; }
    .block-search .tabs-menu-container li a {
      font-size: 1.2rem; }

  .footer .logo-footer {
    display: block; }
    .footer .logo-footer > * {
      display: block;
      width: 100%;
      float: left;
      text-align: center; }
    .footer .logo-footer .text-cpr {
      display: block;
      width: 100%;
      clear: both;
      text-align: center;
      margin: 3rem 0rem 0rem 0rem; } }
.contact-us-container {
  background: white;
  padding-top: 2.5rem;
  width: 1190px; }
  @media (max-width: 1200px) {
    .contact-us-container {
      width: 990px; } }
  @media (max-width: 992px) {
    .contact-us-container {
      width: 770px; } }
  @media (max-width: 768px) {
    .contact-us-container {
      width: 100%; } }

/*GROUPS*/
.bg-white {
  background: #fff;
  float: left;
  width: 100%; }

.business-contain .list-ord .bg-white {
  padding: 2.625rem 2.25rem 0rem 2.25rem; }

.list-ord {
  border-radius: 4px;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem; }
  .list-ord .bg-white {
    padding: 2.625rem 2.25rem 0rem 2.25rem; }
    @media (max-width: 768px) {
      .list-ord .bg-white {
        padding: 3.5rem 2rem; } }
  .list-ord .bg-gray {
    padding: 1.5rem 1rem; }
    @media (min-width: 768px) {
      .list-ord .bg-gray {
        padding: 3rem 2.25rem; } }
  @media (min-width: 768px) {
    .list-ord {
      margin-bottom: 5.25rem; } }

.bg-gray {
  background-color: #ebedea;
  float: left;
  width: 100%; }

.title-group {
  font-weight: bold;
  color: #fff;
  padding: 0rem 2.25rem 2.25rem 2.25rem; }
  @media (max-width: 768px) {
    .title-group {
      padding: 2rem 3rem 1rem 1rem; } }

.title-group p {
  font-size: 1.6rem;
  margin: 1rem 0rem 0rem 0rem; }
  @media (max-width: 768px) {
    .title-group p {
      font-size: 1.7rem;
      margin: 0rem; } }

.title-group p a {
  color: #8fc00f; }

.list-circle--left-8 {
  padding-left: 6rem; }
  @media (max-width: 768px) {
    .list-circle--left-8 {
      padding-left: 2.25rem; } }
.list-circle .item {
  background: url("../../images/icon-list.png") no-repeat 0px 7px;
  padding: 0px 0px 1.5rem 1.5rem;
  background-size: 0.6rem; }
  .list-circle .item.item-contact {
    background: url("../../images/icon-list.png") no-repeat 0px 5px;
    background-size: 0.6rem; }
  .list-circle .item.item-narrow {
    padding: 0rem 0rem 1rem 2rem; }
  .list-circle .item p {
    font-size: 1.35rem;
    color: #4d4d4d;
    margin: 0rem; }
  .list-circle .item a {
    color: #8fc00f;
    cursor: pointer; }

.table-group * {
  vertical-align: middle !important;
  text-align: center;
  border: none; }
.table-group thead {
  background-color: #8fc00f;
  color: #ffffff; }
  .table-group thead * {
    font-weight: normal; }
  .table-group thead tr th {
    border-bottom: none;
    font-size: 1.35rem;
    font-family: Arial; }
.table-group tbody tr td {
  border: none;
  padding: 2.1rem; }
  .table-group tbody tr td .img-table-thumb {
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 10px;
    overflow: hidden;
    width: 100%; }
    .table-group tbody tr td .img-table-thumb img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .table-group tbody tr td p.title-table {
    color: #8fc00f;
    font-family: Arial;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 2.25rem 0rem 0rem 0rem; }
  .table-group tbody tr td p.text-dola {
    color: #201547;
    font-size: 1.2rem; }
  .table-group tbody tr td:nth-child(1) {
    width: 22.5rem; }

.table-group.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f4f4f6; }
  .table-group.table-striped > tbody > tr:nth-of-type(odd) td {
    border-right: solid 1px #e6e9ec; }
    .table-group.table-striped > tbody > tr:nth-of-type(odd) td:last-child {
      border-right: none; }

.table-group.table-striped > tbody > tr:nth-of-type(even) {
  background: #ebedea; }

.group-table-no-space {
  padding-bottom: 0 !important; }

.table-narrow {
  margin-bottom: 0; }

.title-box-gray {
  font-size: 1.35rem;
  color: #8fc00f;
  text-transform: uppercase;
  margin: 0rem 0rem 22.5px 0rem; }

.list-block .item {
  overflow: hidden;
  margin-bottom: 3.5rem; }
  .list-block .item :last-child {
    margin-bottom: 0; }
  @media (min-width: 420px) {
    .list-block .item {
      margin-bottom: 3.5rem; } }
  .list-block .item .item-content {
    border: solid 1px #8fc00f;
    border-radius: 10px;
    overflow: hidden; }
    .list-block .item .item-content .img-thumb {
      height: 15rem;
      overflow: hidden;
      float: left;
      width: 100%; }
      .list-block .item .item-content .img-thumb img {
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
        height: 100%;
        width: 100%; }
    .list-block .item .item-content .title-box {
      color: #8fc00f;
      font-size: 1.05rem;
      text-align: center;
      float: left;
      width: 100%;
      text-transform: uppercase;
      height: 3.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px #8fc00f;
      margin: 0rem;
      font-weight: bold; }
    .list-block .item .item-content .box-link {
      float: left;
      width: 100%;
      padding: 0rem 1.125rem; }
      .list-block .item .item-content .box-link a {
        display: block;
        float: right;
        color: #8fc00f;
        font-size: 1.2rem;
        height: 4.2rem;
        line-height: 4.2rem;
        background: url("../../images/link-icon.png") no-repeat 100% center;
        background-size: 2.025rem 1.95rem;
        padding: 0rem 2.775rem 0rem 0rem; }

.travel-text-bold {
  font-weight: 600; }

@media (max-width: 767px) {
  .list-block .item .item-content .img-thumb {
    position: relative; }
    .list-block .item .item-content .img-thumb img {
      display: block;
      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%; } }
/* About Us */
.contact-info-label {
  font-size: 27px;
  border-bottom: 1px solid #777;
  width: 100%;
  max-width: 198px;
  margin: 0 auto;
  padding-bottom: 5px;
  text-transform: uppercase; }

.contact-info-address {
  color: #8fc00f;
  margin-top: 17px;
  font-size: 10.5px; }

.contact-info-email {
  color: #8fc00f;
  width: 100%;
  max-width: 121px;
  margin: 0 auto;
  font-size: 10.5px; }

.contact-info-confirmation {
  width: 100%;
  max-width: 248px;
  margin: 0 auto;
  font-size: 10.5px; }
  @media (min-width: 401px) {
    .contact-info-confirmation {
      max-width: 255px; } }

.contact-info-border-bottom {
  border-bottom: 1px dashed #777;
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }

.contact-info-container {
  margin-top: 17px; }

.contact-info-reply {
  text-decoration: underline; }

.contact-google-map {
  width: 100%;
  height: 300px; }

.about-us-background {
  background: #f9faf9; }

.about-us-padding-bottom {
  margin-bottom: 30px; }

/* Business Services */
.business-services-label {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  margin-top: 2.25rem;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase; }
  .business-services-label:first-child {
    margin-top: 0; }
  @media (max-width: 768px) {
    .business-services-label {
      margin-bottom: 22px;
      margin-top: 17px; } }

.business-services-label-bottom {
  font-size: 2.25rem;
  text-align: center;
  border: 1px solid #b7b7b7;
  padding: 2.25rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2.625rem;
  color: #000; }
  @media (max-width: 768px) {
    .business-services-label-bottom {
      font-size: 1.875rem;
      padding: 1.125rem; } }

.business-services-underline {
  border-bottom: 1px solid black; }

@media (max-width: 768px) {
  .business-list {
    padding-right: 0;
    padding-left: 0; } }
.business-list .item {
  background: url("../../images/icon-list.png") no-repeat 0px 7px;
  padding: 0px 0px 1.5rem 1.5rem;
  background-size: 0.6rem;
  margin-bottom: 1rem; }
  .business-list .item p {
    font-size: 1.4rem;
    color: #8fc00f;
    margin: 0rem; }
.business-list .business-item {
  background: url("../../images/icon-list.png") no-repeat 0px 7px;
  padding: 0px 0px 1.5rem 1.5rem;
  margin-bottom: -0.4rem;
  background-size: 0.6rem; }
  .business-list .business-item.business-services-policies {
    margin-bottom: 0.5rem;
    font-family: "HelveticaNeueBold"; }
    .business-list .business-item.business-services-policies:last-child {
      padding-bottom: 0rem; }
  .business-list .business-item p {
    font-size: 1.4rem;
    color: #4d4d4d;
    margin: 0rem; }

.business-image-bottom {
  width: 100%;
  margin-top: 4rem;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .business-image-bottom {
      margin-top: 20px; } }

/* Header Slider */
.control-vagas {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 65px; }

.icon-next-vagas {
  cursor: pointer; }

.icon-prev-vagas {
  cursor: pointer; }

.icon-next-vagas img {
  cursor: pointer; }

.icon-prev-vagas img {
  cursor: pointer; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  overflow-x: hidden !important;
  font-family: "HelveticaNeue"; }

.content {
  padding: 0rem 0rem 0rem 0rem;
  float: left;
  width: 100%;
  position: relative;
  z-index: 9999; }

.container {
  max-width: 87.75rem;
  margin: 0 auto;
  width: 100%; }

body.contain-black {
  background: #434343; }

/*# sourceMappingURL=main.css.map */
